@use '../mixins'
@use '../variables'

footer
    height: 150px
    @include mixins.center
    background-color: variables.$bg-sec-color
    

    ul
        @include mixins.center
    


        li
            margin: 1em
            list-style: none

            
