@use "../variables"
@use '../mixins'

.home
    flex-direction: column
    margin: 1em 0em
    @include mixins.center

    header
        text-align: center

    h2
        font-size: 25px
        margin: 0.5em
        @include mixins.colors

    p
        font-size: 20px

    .foto
        width: 50%
        background: linear-gradient(to right, #2b21d7 0%, #4040bb 51%, #0395b3 90%)
        border-radius: 10%
        margin: 0.5em

    div
        width: 100%
        @include mixins.center

        .download
            width: 50%
            background: linear-gradient(#292929, #292929) padding-box, linear-gradient(#2b21d7, #4040bb, #0395b3) border-box
            border-radius: 10px
            border: 4px solid transparent
            padding: 0.2em
            margin: 0.5em
            text-align: center
            list-style: none

        a
            text-decoration: none
            font-weight: bold
            color: #000000

    ul

        list-style: none
        display: flex
        margin: 0.2em 0em

        li
            width: 60px
            height: 60px
            background: linear-gradient(#292929, #292929) padding-box, linear-gradient(#2b21d7 , #4040bb, #0395b3) border-box
            border-radius: 50em
            border: 4px solid transparent
            margin: 0em 0.5em
            @include mixins.center

            img
                filter: brightness(100)
                width: 35px
