@use "../variables"
.Navbar
    width:100%
    background-color: variables.$bg-sec-color
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    p
        width: 50px
        font-weight: bold

    ul
        display: flex
        margin: 0.5em

        li
            list-style: none
            margin: 0.4em

            a
                text-decoration: none
                font-size: 15px
                font-weight: bold
            
        
        